{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>회원가입</title>
        <link rel='stylesheet' type="text/css" href="{% static 'css/signup.css'%}">
    </head>
    <body class="">
        <div class="page">
            <div class="container">
                <div class="left">
                <div class="login">SignUp</div>
                <div class="eula">By logging in you agree to the ridiculously long terms that you didn't bother to read</div>
                </div>
                <div class="right">
                    <div class="form">
                        <form method="post" action="{% url 'accounts:signup' %}">
                            {% csrf_token %}
                            {% comment %} {% include "form_errors.html" %} {% endcomment %}
                            <div class="form-floating mb-3">
                                <label for="username">id</label>
                                <input type="text" class="form-control" name="username" id="username"
                                    value="{{ form.username.value|default_if_none:'' }}" placeholder="아이디">
                            </div>

                            <div class="form-floating mb-3">
                                <label for="email">Email address</label>
                                <input type="text" class="form-control" name="email" id="email"
                                    value="{{ form.email.value|default_if_none:'' }}" placeholder="이메일">
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <label for="password1">Password</label>
                                    <input type="password" class="form-control" name="password1" id="password1"
                                        value="{{ form.password1.value|default_if_none:'' }}" placeholder="비밀번호">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <label for="password2">Confirm Password</label>
                                    <input type="password" class="form-control" name="password2" id="password2"
                                        value="{{ form.password2.value|default_if_none:'' }}" placeholder="비밀번호 확인">
                                </div>
                            </div>
                            <input type="submit" id="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
