{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>controller dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link rel='stylesheet' type="text/css" href="{% static 'css/dashboard.css'%}">
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- 모달창을 위한 제이쿼리 -->
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <!-- 실시간 그래프 그려주는 cdn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
        <!-- 다축구동을 위한 동적 입력폼 생성 -->
        <script>
            // 추가
            var count=0
            const add_textbox = () => {
                const box = document.getElementById("box");
                const newform = document.createElement('div');
                count = count + 1;
                newform.innerHTML = `<input required type='number' name='lAxisNo' id=lAxisNo${count} placeholder='채널번호' ; style='width:70px; height:30px;'> \
                                     <input required type='number' name='dPos' id='dPos${count}' placeholder='구동거리' ; style='width:70px; height:30px;'> \
                                     <input required type='number' name='dVel' id='dVel${count}' placeholder='속도' ; style='width:70px; height:30px;'> \
                                     <input required type='number' name='dAccel' id='dAccel${count}' placeholder='가속도' ; style='width:70px; height:30px;'> \
                                     <input required type='number' name='dDecel' id='dDecel${count}' placeholder='감속도' ; style='width:70px; height:30px;'> \
                                     <input type='button' value='삭제' onclick='remove(this)'>`
                box.appendChild(newform);
            }
            
            //서브온오프 축
            const add_textbox2 = () => {
                const box2 = document.getElementById("box2");
                const newform2 = document.createElement('div');
                count = count + 1;
                newform2.innerHTML = `<input required type='number' name='lAxisNo' id=lAxisNo${count} placeholder='채널번호' ; style='width:70px; height:30px;'> \
                                     <input type='button' value='삭제' onclick='remove2(this)'>`
                box2.appendChild(newform2);
            }

            //서브온오프 축
            const add_textbox3 = () => {
                const box3 = document.getElementById("box3");
                const newform3 = document.createElement('div');
                count = count + 1;
                newform3.innerHTML = `<input required type='number' name='lAxisNo' id=lAxisNo${count} placeholder='채널번호' ; style='width:70px; height:30px;'> \
                                     <input type='button' value='삭제' onclick='remove3(this)'>`
                box3.appendChild(newform3);
            }
            
            // 삭제
            const remove = (obj) => {
                count = count - 1;
                document.getElementById('box').removeChild(obj.parentNode);
            }

            // 삭제
            const remove2 = (obj) => {
                count = count - 1;
                document.getElementById('box2').removeChild(obj.parentNode);
            }

            // 삭제
            const remove3 = (obj) => {
                count = count - 1;
                document.getElementById('box3').removeChild(obj.parentNode);
            }
        </script>
        <script>
            {% if show_alert %}
                alert("축이 1개 이하이므로 다축구동 대상이 아닙니다");
            {% endif %}
        </script>
    </head>
    <body>
        <div class="app-container">
            <div class="app-left">
                <button class="close-menu">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
                </button>
                <div class="app-logo">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
                    <line x1="18" y1="20" x2="18" y2="10"/>
                    <line x1="12" y1="20" x2="12" y2="4"/>
                    <line x1="6" y1="20" x2="6" y2="14"/>       </svg>
                    <a class="" href="{% url 'hello:index' %}">
                        <span>AjinExtek</span>
                    </a>
                </div>
                <ul class="nav-list">
                    <li class="nav-list-item active">
                        <a class="nav-list-link" href="{% url 'control:control_initialization' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns"><path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18"/></svg>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-list-item active">
                        <a class="nav-list-link" href="https://github.com/DeveloperYun" target='_blank'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M23 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
                            Github
                        </a>
                    </li>
                    <li class="nav-list-item active">
                        <a class="nav-list-link" href="https://www.notion.so/2022-_-96985f828766434abd960ef9db872bb9" target='_blank'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"/><polyline points="13 2 13 9 20 9"/></svg>
                            Docs
                        </a>
                    </li>

                    <!-- servo on/off -->
                    <!--TODO: "동적" 스위치 구현부: codepen0...codepen3.. -->  
                    <div>                               
                        {% for i in context %}
                            <div style="display: flex; align-items: center; margin-bottom: 5px; ">
                                <label style="color: white; display: inline-block; font-size: 20px; margin-right: 5px;">{{ i }}축 </label>
                                <form style="display: inline-block; height: 50px; " action="{% url 'control:signal_servo_on' %}" method="POST">
                                    {% csrf_token %}
                                    <input class="checkbox" id="codepen{{ i }}" type="checkbox"/>
                                    <label for="codepen{{ i }}" style="color: white; font-size: 20px; display: inline-block; text-align: center;">serveOn</label>
                                    <input type="hidden" name="value" value="{{ i }}">
                                </form>
                            </div>
                        {% endfor %}
                    </div>  
                            
                    {% comment %} 
                    <!--TODO: 0,1,2,3축 고정 서브온오프 -->
                    <div>
                        <div style="display: flex; align-items: center; margin-bottom: 5px; ">
                            <label style="color: white; display: inline-block; font-size: 20px; margin-right: 5px;">0축 </label>
                            <form style="display: inline-block; height: 50px; " action="{% url 'control:signal_servo_on' %}" method="POST">
                                {% csrf_token %}
                                <input class="checkbox" id="codepen" type="checkbox"/>
                                <label for="codepen" style="color: white; font-size: 20px; display: inline-block; text-align: center;">serveOn</label>
                                <input type="hidden" name="value" value="0">
                            </form>
                        </div>

                        <div style="display: flex; align-items: center; margin-bottom: 5px;">
                            <label style="color: white; display: inline-block; font-size: 20px; margin-right: 9px;">1축 </label>
                            <form style="display: inline-block; height: 50px; " action="{% url 'control:signal_servo_on' %}" method="POST">
                                {% csrf_token %}
                                <input class="checkbox" id="codepen2" type="checkbox"/>
                                <label for="codepen2" style="color: white; font-size: 20px; display: inline-block; text-align: center;">serveOn</label>
                                <input type="hidden" name="value1" value="1">
                            </form>
                        </div>
                        
                        <div style="display: flex; align-items: center; margin-bottom: 5px;">
                            <label style="color: white; display: inline-block; font-size: 20px; margin-right: 4px;">2축 </label>
                            <form style="display: inline-block; height: 50px; " action="{% url 'control:signal_servo_on' %}" method="POST">
                                {% csrf_token %}
                                <input class="checkbox" id="codepen3" type="checkbox"/>
                                <label for="codepen3" style="color: white; font-size: 20px; display: inline-block; text-align: center; margin-bottom:4px">serveOn</label>
                                <input type="hidden" name="value2" value="2">
                            </form>
                        </div>

                        <div style="display: flex; align-items: center; margin-bottom: 5px;">
                            <label style="color: white; display: inline-block; font-size: 20px; margin-right: 4px;">3축 </label>
                            <form style="display: inline-block; height: 50px; " action="{% url 'control:signal_servo_on' %}" method="POST">
                                {% csrf_token %}
                                <input class="checkbox" id="codepen4" type="checkbox"/>
                                <label for="codepen4" style="color: white; font-size: 20px; display: inline-block; text-align: center; margin-bottom:4px">serveOn</label>
                                <input type="hidden" name="value3" value="3">
                            </form>
                        </div>
                    </div>  
                    {% endcomment %}
                    <br/><br/>
                   

                    <li class="nav-list-item active">
                        <form id="estop" action="{% url 'control:AxmMoveEStop' %}" method="POST">
                            {% csrf_token %}
                            <div class="text-white" style="display:flex; align-items:center;">
                                <input type="submit" name="stop" id="stop" value="긴급정지" 
                                       style="font-weight:bold ;
                                            font-size:25px; width:200px; 
                                            height:80px; 
                                            border-radius:80px;
                                            margin: 0 auto"/>  
                            </div>
                        </form>                        
                    </li>
                    <li class="nav-list-item active">
                        <form id="sstop" action="{% url 'control:AxmMoveSStop' %}" method="POST">
                            {% csrf_token %}
                            <div class="text-white" style="display:flex; align-items:center;">
                                <input type="submit" name="stop" id="stop" value="감속정지" 
                                        style="font-weight:bold ;
                                            font-size:25px; width:200px; 
                                            height:80px; 
                                            border-radius:80px;
                                            margin: 0 auto"/> 
                            </div>
                        </form>
                    </li>
                    
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%">
                        <div style="margin-right: 1em;">
                            <h2 style="color:white; display:inline-block; margin:0">원점탐색결과</h2>
                            <h2 id="" style="color:white; display:inline-block">{{homesearch}}</h2>
                        </div>
                    </div>
                      
                    <!--: 각 축의 상태정보 띄우기 -->
                    <ul>
                        {% for status in result %}
                            <li for="codepen" style="color: white; font-size: 20px; text-align: center; margin-bottom:4px">{{status}}</li>
                        {% endfor %}
                    </ul>
                </ul>
            </div>
            <div class="app-main">
                <div class="main-header-line">
                    <a class="" href="">
                        <h1>Controller Dashboard</h1>
                    </a>
                    <div class="action-buttons open-right-area">
                        <button class="menu-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"/><line x1="3" y1="6" x2="21" y2="6"/><line x1="3" y1="18" x2="21" y2="18"/></svg>
                        </button>
                    </div>
                </div>
                <div id="">
                    <main>
                        <div class="container-fluid px-4">
                            {% if user.is_authenticated %}
                                
                                <div class="chart-row two big">
                                    <div class="chart-container-wrapper big">
                                      <div class="chart-container">
                                        <div class="chart-container-header">
                                          <h2>StartPos, MoveVel, MultiPos 속도 측정 그래프</h2>
                                        </div>
                                            <div class="line-chart">
                                                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 100%">                                                <div style="margin-right: 1em;">
                                                    <h2 style="color:white; display:inline-block; margin:0">0축 : </h2>
                                                    <h2 id="app" style="color:white; display:inline-block">{{text}}</h2>
                                                </div>
                                                <div style="margin-right: 1em;">
                                                    <h2 style="color:white; display:inline-block; margin:0">1축 : </h2>
                                                    <h2 id="app1" style="color:white; display:inline-block">{{text}}</h2>
                                                </div>
                                                <div style="margin-right: 1em;">
                                                    <h2 style="color:white; display:inline-block; margin:0">2축 : </h2>
                                                    <h2 id="app2" style="color:white; display:inline-block">{{text}}</h2>
                                                </div>
                                                <div style="margin-right: 1em;">
                                                    <h2 style="color:white; display:inline-block; margin:0">3축 : </h2>
                                                    <h2 id="app3" style="color:white; display:inline-block">{{text}}</h2>
                                                </div>
                                            </div>
                                            <canvas id="myChart" style="height:30vh; width:50vw"></canvas>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                
                                <div>
                                    <button class="accordion">
                                        <span>AxmMovePos (테스트용)</span>
                                    </button>
                                    <div class="panel">
                                        <form id="AxmMovePos" action="{% url 'control:AxmMovePos' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="text-white">
                                                <input required type="number" name="lAxisNo" id="lAxisNo" placeholder="채널번호"; style="width:70px; height:30px;">
                                                <input required type="number" name="dPos" id="dPos" placeholder="구동거리"; style="width:70px; height:30px;">
                                                <input required type="number" name="dVel" id="dVel" placeholder="속도"; style="width:70px; height:30px;">
                                                <input required type="number" name="dAccel" id="dAccel" placeholder="가속도"; style="width:70px; height:30px;">
                                                <input required type="number" name="dDecel" id="dDecel" placeholder="감속도"; style="width:70px; height:30px;">
                                                <input type="submit" value="제출">
                                            </div>
                                        </form>
                                    </div>

                                    <button class="accordion">
                                        <span>Single Axis Move</span>
                                    </button>
                                    <div class="panel">
                                        <form id="AxmMoveStartPos" action="{% url 'control:AxmMoveStartPos' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="small text-white">
                                                <input required type="number" name="lAxisNo" id="lAxisNo" placeholder="채널번호"; style="width:70px; height:30px;">
                                                <input required type="number" name="dPos" id="dPos" placeholder="구동거리"; style="width:70px; height:30px;">
                                                <input required type="number" name="dVel" id="dVel" placeholder="속도"; style="width:70px; height:30px;">
                                                <input required type="number" name="dAccel" id="dAccel" placeholder="가속도"; style="width:70px; height:30px;">
                                                <input required type="number" name="dDecel" id="dDecel" placeholder="감속도"; style="width:70px; height:30px;">
                                                <input type="submit" value="제출">
                                            </div>
                                        </form>
                                    </div>

                                    
                                    <button class="accordion">
                                        <span>Velocity Move (Jog Move)</span>
                                    </button>
                                    <div class="panel">
                                        <form id="AxmMoveVel" action="{% url 'control:AxmMoveVel' %}" method="POST">
                                          {% csrf_token %}
                                          <div class="small text-white" style="display:inline-block;">
                                            <input required type="number" name="lAxisNo" id="lAxisNo" placeholder="채널번호" style="width:70px; height:30px; display:inline-block;">
                                            <input required type="number" name="dVel" id="dVel" placeholder="속도" style="width:70px; height:30px; display:inline-block;">
                                            <input required type="number" name="dAccel" id="dAccel" placeholder="가속도" style="width:70px; height:30px; display:inline-block;">
                                            <input required type="number" name="dDecel" id="dDecel" placeholder="감속도" style="width:70px; height:30px; display:inline-block;">
                                            <input type="submit" value="제출" style="width:70px; height:30px; display:inline-block;">
                                          </div>
                                        </form>     
                                    </div>

                                    <button class="accordion">
                                        <span>Home Search Move</span>
                                    </button>
                                    <div class="panel">
                                        <form id="HomeSearchMove" action="{% url 'control:HomeSearchMove' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="small text-white">
                                                <input required type="number" name="lAxisNo" id="lAxisNo" placeholder="채널번호"; style="width:70px; height:30px;">
                                                <input type="submit" value="제출">
                                            </div>
                                        </form>
                                    </div>

                                    <button class="accordion">
                                        <span>Single Axis : 감속도 설정 정지</span>
                                    </button>
                                    <div class="panel">
                                        <form id="SingleAxisStop" action="{% url 'control:SingleAxisStop' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="small text-white">
                                                <input required type="number" name="lAxisNo" id="lAxisNo" placeholder="채널번호"; style="width:70px; height:30px;">
                                                <input required type="number" name="dDecel" id="dDecel" placeholder="감속도"; style="width:70px; height:30px;">
                                                <input type="submit" value="제출">
                                            </div>
                                        </form>
                                    </div>
                            
                                    <button class="accordion">
                                        <span>Single Axis : 긴급 정지</span>
                                    </button>
                                    <div class="panel">
                                        <form id="SingleAxisEStop" action="{% url 'control:SingleAxisEStop' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="small text-white">
                                                <input type="submit" value="0축">
                                            </div>
                                        </form>
                                        <form id="SingleAxisEStop1" action="{% url 'control:SingleAxisEStop1' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="small text-white">
                                                <input type="submit" value="1축">
                                            </div>
                                        </form>
                                        <form id="SingleAxisEStop2" action="{% url 'control:SingleAxisEStop2' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="small text-white">
                                                <input type="submit" value="2축">
                                            </div>
                                        </form>
                                        <form id="SingleAxisEStop3" action="{% url 'control:SingleAxisEStop3' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="small text-white">
                                                <input type="submit" value="3축">
                                            </div>
                                        </form>
                                    </div>
                                
                                    <button class="accordion">
                                        <span>Single Axis : 감속 정지</span>
                                    </button>
                                    <div class="panel">
                                        <form id="SingleAxisSStop" action="{% url 'control:SingleAxisSStop' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="small text-white">
                                                <input type="submit" value="0축">
                                            </div>
                                        </form>
                                        <form id="SingleAxisSStop1" action="{% url 'control:SingleAxisSStop1' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="small text-white">
                                                <input type="submit" value="1축">
                                            </div>
                                        </form>
                                        <form id="SingleAxisSStop2" action="{% url 'control:SingleAxisSStop2' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="small text-white">
                                                <input type="submit" value="2축">
                                            </div>
                                        </form>
                                        <form id="SingleAxisSStop3" action="{% url 'control:SingleAxisSStop3' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="small text-white">
                                                <input type="submit" value="3축">
                                            </div>
                                        </form>
                                    </div>
                                
                                    <button class="accordion">
                                        <span>Multi Axis Move (다축구동 : 최대 4축)</span>
                                    </button>
                                    <div class="panelmulti">
                                        <form id="AxmMoveStartMultiPos" action="{% url 'control:AxmMoveStartMultiPos' %}" method="POST">
                                            {% csrf_token %}
                                            <div id="box">
                                                <input type="button" value="추가" onclick="add_textbox()">
                                                <input type="submit" value="제출">
                                            </div>
                                        </form>
                                    </div>

                                    <button class="accordion">
                                        <span>Default Value : Multi Axis Move (4축)</span>
                                    </button>
                                    <div class="panel">
                                        <form id="AxmMoveStartMultiPos2" action="{% url 'control:AxmMoveStartMultiPos2' %}" method="POST">
                                            {% csrf_token %}
                                            <div id="box">
                                                <input type="submit" value="제출">
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <button class="accordion">
                                    <span>Default Value : Single Axis Move</span>
                                </button>
                                <div class="panel">
                                    <form id="AxmMoveStartPos2" action="{% url 'control:AxmMoveStartPos2' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="small text-white">
                                            <input required type="number" name="lAxisNo" id="lAxisNo" placeholder="채널번호"; style="width:70px; height:30px;">
                                            <input type="submit" value="제출">
                                        </div>
                                    </form>
                                </div>

                                <button class="accordion">
                                    <span>Default Value : Velocity Move(Jog Move)</span>
                                </button>
                                <div class="panel">
                                    <form id="AxmMoveVel2" action="{% url 'control:AxmMoveVel2' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="small text-white">
                                            <input required type="number" name="lAxisNo" id="lAxisNo" placeholder="채널번호"; style="width:70px; height:30px;">
                                            <input type="submit" value="제출">
                                        </div>
                                    </form>
                                </div>

                                <!-- django admin 에서 유저데이터 get -->
                                <div class="chart-container applicants">
                                    <div class="chart-container-header">
                                      <h2>Applicants  </h2>
                                    </div>
                                   
                                    <div class="applicant-line">
                                        {% if users %}
                                            {% for user in users %}
                                                <img src="//source.unsplash.com/100x100" alt="">
                                                <div class="applicant-info">
                                                    <span>{{user.username}}</span>
                                                    <p><strong>{{user.email}}</strong></p>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <span>No users found</span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="plzLogin">
                                    로그인 후 이용해주세요
                                </div> 
                                <br/><br/>
                                <a href="{% url 'accounts:login' %}"> ▶ 로그인</a>
                            {%endif%}
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <script src="{% static 'js/graph.js'%}"></script>
        <script src="{% static 'js/modal.js'%}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js'%}"></script>

        <!--TODO: 동적 서브온오프 버튼(최대 6축이라 가정) -->
        <script>
            const toggle = document.getElementById('codepen0');
            if (localStorage.getItem('toggleState')) {
                toggle.checked = JSON.parse(localStorage.getItem('toggleState'));
            }
            toggle.addEventListener('change', function() {
                if (toggle.checked) {
                    const formData = new FormData(document.forms[0]);
                    formData.set('lAxisNo', 0);
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', '{% url "control:signal_servo_on" %}');
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    xhr.send(formData);
                } else {
                    const formData = new FormData(document.forms[0]);
                    formData.set('lAxisNo', 0);
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', '{% url "control:signal_servo_off" %}');
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    xhr.send(formData);
                }

                // 상태 정보를 저장합니다
                localStorage.setItem('toggleState', toggle.checked);
              }
            );
            
            const toggle1 = document.getElementById('codepen1');
            if (localStorage.getItem('toggleState1')) {
                toggle1.checked = JSON.parse(localStorage.getItem('toggleState1'));
            }
            toggle1.addEventListener('change', function() {
                if (toggle1.checked) {
                    const formData = new FormData(document.forms[0]);
                    formData.set('lAxisNo', 1);
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', '{% url "control:signal_servo_on" %}');
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    xhr.send(formData);
                } else {
                    const formData = new FormData(document.forms[0]);
                    formData.set('lAxisNo', 1);
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', '{% url "control:signal_servo_off" %}');
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    xhr.send(formData);
                }

                // 상태 정보를 저장합니다
                localStorage.setItem('toggleState1', toggle1.checked);
              }
            );

            const toggle2 = document.getElementById('codepen2');
            if (localStorage.getItem('toggleState2')) {
                toggle2.checked = JSON.parse(localStorage.getItem('toggleState2'));
                }
            toggle2.addEventListener('change', function() {
                if (toggle2.checked) {
                  const formData = new FormData(document.forms[0]);
                  formData.set('lAxisNo', 2);
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '{% url "control:signal_servo_on" %}');
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                  xhr.send(formData);
                } else {
                  const formData = new FormData(document.forms[0]);
                  formData.set('lAxisNo', 2);
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '{% url "control:signal_servo_off" %}');
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                  xhr.send(formData);
                }

                // 상태 정보를 저장합니다
                localStorage.setItem('toggleState2', toggle2.checked);
              }
            );
        
            const toggle3 = document.getElementById('codepen3');
            if (localStorage.getItem('toggleState3')) {
                toggle3.checked = JSON.parse(localStorage.getItem('toggleState3'));
                }
            toggle3.addEventListener('change', function() {
                if (toggle3.checked) {
                  const formData = new FormData(document.forms[0]);
                  formData.set('lAxisNo', 3);
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '{% url "control:signal_servo_on" %}');
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                  xhr.send(formData);
                } else {
                  const formData = new FormData(document.forms[0]);
                  formData.set('lAxisNo', 3);
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '{% url "control:signal_servo_off" %}');
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                  xhr.send(formData);
                }
                // 상태 정보를 저장합니다
                localStorage.setItem('toggleState3', toggle3.checked);
              }
            );
        
            const toggle4 = document.getElementById('codepen4');
             if (localStorage.getItem('toggleState4')) {
                toggle4.checked = JSON.parse(localStorage.getItem('toggleState4'));
            }
            toggle4.addEventListener('change', function() {
                if (toggle4.checked) {
                  const formData = new FormData(document.forms[0]);
                  formData.set('lAxisNo', 4);
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '{% url "control:signal_servo_on" %}');
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                  xhr.send(formData);
                } else {
                  const formData = new FormData(document.forms[0]);
                  formData.set('lAxisNo', 4);
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '{% url "control:signal_servo_off" %}');
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                  xhr.send(formData);
                }
                // 상태 정보를 저장합니다
                localStorage.setItem('toggleState4', toggle4.checked);
              }
            );

            const toggle5 = document.getElementById('codepen5');
             if (localStorage.getItem('toggleState5')) {
                toggle5.checked = JSON.parse(localStorage.getItem('toggleState5'));
            }
            toggle5.addEventListener('change', function() {
                if (toggle5.checked) {
                  const formData = new FormData(document.forms[0]);
                  formData.set('lAxisNo', 5);
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '{% url "control:signal_servo_on" %}');
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                  xhr.send(formData);
                } else {
                  const formData = new FormData(document.forms[0]);
                  formData.set('lAxisNo', 5);
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '{% url "control:signal_servo_off" %}');
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                  xhr.send(formData);
                }
                // 상태 정보를 저장합니다
                localStorage.setItem('toggleState5', toggle5.checked);
              }
            );
        </script>

        <!-- 정적 serve on/off 버튼 -->
        {% comment %} <script>
            const toggle = document.getElementById('codepen');
            if (localStorage.getItem('toggleState')) {
                toggle.checked = JSON.parse(localStorage.getItem('toggleState'));
            }
            toggle.addEventListener('change', function() {
                if (toggle.checked) {
                    const formData = new FormData(document.forms[0]);
                    formData.set('lAxisNo', 0);
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', '{% url "control:signal_servo_on" %}');
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    xhr.send(formData);
                } else {
                    const formData = new FormData(document.forms[0]);
                    formData.set('lAxisNo', 0);
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', '{% url "control:signal_servo_off" %}');
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    xhr.send(formData);
                }

                // 상태 정보를 저장합니다
                localStorage.setItem('toggleState', toggle.checked);
              }
            );
            
            const toggle2 = document.getElementById('codepen2');
            if (localStorage.getItem('toggleState2')) {
                toggle2.checked = JSON.parse(localStorage.getItem('toggleState2'));
                }
            toggle2.addEventListener('change', function() {
                if (toggle2.checked) {
                  const formData = new FormData(document.forms[0]);
                  formData.set('lAxisNo', 1);
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '{% url "control:signal_servo_on" %}');
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                  xhr.send(formData);
                } else {
                  const formData = new FormData(document.forms[0]);
                  formData.set('lAxisNo', 1);
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '{% url "control:signal_servo_off" %}');
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                  xhr.send(formData);
                }

                // 상태 정보를 저장합니다
                localStorage.setItem('toggleState2', toggle2.checked);
              }
            );
        
            const toggle3 = document.getElementById('codepen3');
            if (localStorage.getItem('toggleState3')) {
                toggle3.checked = JSON.parse(localStorage.getItem('toggleState3'));
                }
            toggle3.addEventListener('change', function() {
                if (toggle3.checked) {
                  const formData = new FormData(document.forms[0]);
                  formData.set('lAxisNo', 2);
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '{% url "control:signal_servo_on" %}');
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                  xhr.send(formData);
                } else {
                  const formData = new FormData(document.forms[0]);
                  formData.set('lAxisNo', 2);
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '{% url "control:signal_servo_off" %}');
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                  xhr.send(formData);
                }
                // 상태 정보를 저장합니다
                localStorage.setItem('toggleState3', toggle3.checked);
              }
            );
        
            const toggle4 = document.getElementById('codepen4');
             if (localStorage.getItem('toggleState4')) {
                toggle4.checked = JSON.parse(localStorage.getItem('toggleState4'));
            }
            toggle4.addEventListener('change', function() {
                if (toggle4.checked) {
                  const formData = new FormData(document.forms[0]);
                  formData.set('lAxisNo', 3);
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '{% url "control:signal_servo_on" %}');
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                  xhr.send(formData);
                } else {
                  const formData = new FormData(document.forms[0]);
                  formData.set('lAxisNo', 3);
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '{% url "control:signal_servo_off" %}');
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                  xhr.send(formData);
                }
                // 상태 정보를 저장합니다
                localStorage.setItem('toggleState4', toggle4.checked);
              }
            );
        </script> {% endcomment %}

        <!-- accordion -->
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            
            for (i = 0; i < acc.length; i++) {
              acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                  panel.style.maxHeight = null;
                } else {
                  panel.style.maxHeight = panel.scrollHeight + "px";
                } 
              });
            }
        </script>

        <!-- 정지 새로고침 방지 -->
        <script>
            document.getElementById("sstop").addEventListener("submit", function(event) {
                event.preventDefault();
                
                var form = event.target;
                var data = new FormData(form);
              
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action, true);
                xhr.setRequestHeader('X-CSRFToken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
                
                xhr.send(data);
              });

            document.getElementById("estop").addEventListener("submit", function(event) {
                event.preventDefault();
                
                var form = event.target;
                var data = new FormData(form);
                
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action, true);
                xhr.setRequestHeader('X-CSRFToken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
                
                xhr.send(data);
            });

            document.getElementById("SingleAxisStop").addEventListener("submit", function(event) {
                event.preventDefault();
                
                var form = event.target;
                var data = new FormData(form);
                
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action, true);
                xhr.setRequestHeader('X-CSRFToken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
                
                xhr.send(data);
            });
            
            document.getElementById("SingleAxisEStop").addEventListener("submit", function(event) {
                event.preventDefault();
                
                var form = event.target;
                var data = new FormData(form);
                
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action, true);
                xhr.setRequestHeader('X-CSRFToken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
                
                xhr.send(data);
            });

            document.getElementById("SingleAxisEStop1").addEventListener("submit", function(event) {
                event.preventDefault();
                
                var form = event.target;
                var data = new FormData(form);
                
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action, true);
                xhr.setRequestHeader('X-CSRFToken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
                
                xhr.send(data);
            });

            document.getElementById("SingleAxisEStop2").addEventListener("submit", function(event) {
                event.preventDefault();
                
                var form = event.target;
                var data = new FormData(form);
                
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action, true);
                xhr.setRequestHeader('X-CSRFToken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
                
                xhr.send(data);
            });

            document.getElementById("SingleAxisEStop3").addEventListener("submit", function(event) {
                event.preventDefault();
                
                var form = event.target;
                var data = new FormData(form);
                
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action, true);
                xhr.setRequestHeader('X-CSRFToken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
                
                xhr.send(data);
            });

            document.getElementById("SingleAxisSStop").addEventListener("submit", function(event) {
                event.preventDefault();
                
                var form = event.target;
                var data = new FormData(form);
                
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action, true);
                xhr.setRequestHeader('X-CSRFToken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
                
                xhr.send(data);
            });

            document.getElementById("SingleAxisSStop1").addEventListener("submit", function(event) {
                event.preventDefault();
                
                var form = event.target;
                var data = new FormData(form);
                
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action, true);
                xhr.setRequestHeader('X-CSRFToken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
                
                xhr.send(data);
            });

            document.getElementById("SingleAxisSStop2").addEventListener("submit", function(event) {
                event.preventDefault();
                
                var form = event.target;
                var data = new FormData(form);
                
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action, true);
                xhr.setRequestHeader('X-CSRFToken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
                
                xhr.send(data);
            });

            document.getElementById("SingleAxisSStop3").addEventListener("submit", function(event) {
                event.preventDefault();
                
                var form = event.target;
                var data = new FormData(form);
                
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action, true);
                xhr.setRequestHeader('X-CSRFToken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
                
                xhr.send(data);
            });

        </script>
    </body>
</html>
